body {
    background-image: url(/Users/aminazareh/Desktop/coding/images/Backgrounds/bananas.png);
    opacity: 100%
}


#jumbo {
    background-image: url(/Users/aminazareh/Desktop/coding/images/glitterbanner.gif);
    background-color: #FECEE1;
    text-align: center;
    color: white;
    opacity: .80;
}

/* home button */
.home {
    position: relative;
  }
  
  .home::before, .home::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: #D980FA;
    transform-origin: center;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.4s ease;
  }
  
  .home::before {
    top: 0;
  }
  
  .home::after {
    bottom: 0;
  }
  
  .home:hover::before, .home:hover::after {
    transform: translateX(-50%) scaleX(1);
  }
  
/*jumbotron*/

.display-4 {
    font-size: 325%;
}

.dropdown-item {
    color: #D980FA;
}

.col-md-4 {
    width: 237.328;
    height: 237.328;
}

footer {
    text-align: center;
    color:#D980FA;  
    font-family: Source Sans Pro; 
}

/*Contact Me Buttons*/

button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
    overflow: hidden;
  }
  
  button::after {
    content: '';
    z-index: -1;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: absolute;
    top: -50%;
    bottom: -50%;
    width: 1.25em;
    transform: translateX(-525%) rotate(35deg);
  }
  
  button:hover {
    cursor: pointer;
  }
  
  button:hover::after {
    transition: transform 0.45s ease-in-out;
    transform: translateX(200%) rotate(35deg);
  }

  