body {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: #D980FA;
    background-color: #FECEE1;
    margin-top: 20px;
}

button {
    background-color: #D980FA;
    color: white;
}
